{% extends "template.html" %}
<head>
    {% block header %}
    {% endblock %}
</head>
<body>
    {% block body %}
        {%for book in books %}
            <div class="book" style="border: 1px solid red;">
                <h1>Book {{ loop.index0 + 1 }}</h1>
                <h2> 
                    <a href="{{ url_for('get_book', book_id=book.id)}}">
                        {{ book.title }}
                    </a>
                </h2>
                <p> {{ book.author }} </p>
                
                <button id="delBookBtn">Delete Book</button>
                <button id="editBookBtn">Edit Book</button>
                
            </div>
    {% endfor %}
    {% endblock %}
</body>